# ==========================
# Telegram Scraping
# ==========================
telethon

# ==========================
# Configuration Management
# ==========================
python-dotenv
pydantic
pydantic-settings

# ==========================
# Data Processing
# ==========================
pandas

# ==========================
# Database
# ==========================
sqlalchemy
psycopg2-binary

# ==========================
# API
# ==========================
fastapi
uvicorn

# ==========================
# Testing
# ==========================
pytest